USE [master]
GO
/****** Object:  Database [GiveAndGetDataB]    Script Date: 26/03/2025 11:06:49 ******/
CREATE DATABASE [GiveAndGetDataB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GiveAndGetDataB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GiveAndGetDataB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GiveAndGetDataB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GiveAndGetDataB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GiveAndGetDataB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GiveAndGetDataB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ConnectionId] [nvarchar](max) NOT NULL,
	[ConnectedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Connections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchanges]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchanges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User1Id] [int] NOT NULL,
	[User2Id] [int] NOT NULL,
	[Status] [int] NULL,
	[Talent1Offered] [int] NOT NULL,
	[Talent2Offered] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateCompleted] [datetime2](7) NULL,
	[User1Confirmed] [bit] NOT NULL,
	[User2Confirmed] [bit] NOT NULL,
 CONSTRAINT [PK_Exchanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromId] [int] NOT NULL,
	[ExchangeId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Readed] [bit] NOT NULL,
	[Time] [datetime2](7) NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TalentRequests]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalentRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TalentName] [nvarchar](max) NOT NULL,
	[ParentCategory] [int] NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TalentRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talents]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TalentName] [nvarchar](450) NOT NULL,
	[ParentCategory] [int] NOT NULL,
 CONSTRAINT [PK_Talents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TalentUser]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalentUser](
	[UserId] [int] NOT NULL,
	[TalentId] [int] NOT NULL,
	[IsOffered] [bit] NOT NULL,
 CONSTRAINT [PK_TalentUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TalentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/03/2025 11:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HashPwd] [nvarchar](450) NOT NULL,
	[PhoneNumber] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](450) NOT NULL,
	[Score] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[Desc] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProfileImage] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250305190158_init', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250307112431_UpdateTalentStructure', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250311175919_userid_is_0_by_default_int_talent_request', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [UserId], [Content]) VALUES (1, 22, N'בס"ד
אתר מאלף כל הכבוד לכם על האתר שמעודד לעזור זה לזה')
INSERT [dbo].[Comments] ([Id], [UserId], [Content]) VALUES (2, 15, N'בס"ד
אתר מאלף כל הכבוד לכם על האתר שמעודד לעזור זה לזה')
INSERT [dbo].[Comments] ([Id], [UserId], [Content]) VALUES (6, 8, N'אתר מיוחד!!!!')
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Exchanges] ON 

INSERT [dbo].[Exchanges] ([Id], [User1Id], [User2Id], [Status], [Talent1Offered], [Talent2Offered], [DateCreated], [DateCompleted], [User1Confirmed], [User2Confirmed]) VALUES (3, 1006, 1009, NULL, 1, 3, CAST(N'2025-03-17T15:01:04.0900000' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[Exchanges] ([Id], [User1Id], [User2Id], [Status], [Talent1Offered], [Talent2Offered], [DateCreated], [DateCompleted], [User1Confirmed], [User2Confirmed]) VALUES (4, 1014, 1013, 2, 3, 4, CAST(N'2025-03-19T11:43:46.1241574' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[Exchanges] ([Id], [User1Id], [User2Id], [Status], [Talent1Offered], [Talent2Offered], [DateCreated], [DateCompleted], [User1Confirmed], [User2Confirmed]) VALUES (5, 1010, 1008, 2, 3, 4, CAST(N'2025-03-19T21:50:11.4938405' AS DateTime2), NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Exchanges] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [FromId], [ExchangeId], [Text], [Readed], [Time]) VALUES (1, 1010, 5, N'הי חני אני רוצה ללמוד ממך לאפות חלות לכבוד שבת', 0, CAST(N'2025-03-24T17:26:53.2097383' AS DateTime2))
INSERT [dbo].[Messages] ([Id], [FromId], [ExchangeId], [Text], [Readed], [Time]) VALUES (2, 1008, 5, N'אני רואה שיש לך תחביב שאני מאוד רוצה', 0, CAST(N'2025-03-24T17:28:06.1800724' AS DateTime2))
INSERT [dbo].[Messages] ([Id], [FromId], [ExchangeId], [Text], [Readed], [Time]) VALUES (3, 1010, 5, N'כןןןןן ', 0, CAST(N'2025-03-24T17:28:19.0810208' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[TalentRequests] ON 

INSERT [dbo].[TalentRequests] ([Id], [UserId], [TalentName], [ParentCategory], [RequestDate]) VALUES (1010, 0, N'ריקוד', 0, CAST(N'2025-03-11T19:26:10.3090000' AS DateTime2))
INSERT [dbo].[TalentRequests] ([Id], [UserId], [TalentName], [ParentCategory], [RequestDate]) VALUES (1020, 0, N'בלונאות', 0, CAST(N'2025-03-12T11:16:04.9000000' AS DateTime2))
INSERT [dbo].[TalentRequests] ([Id], [UserId], [TalentName], [ParentCategory], [RequestDate]) VALUES (3020, 1010, N'פיצה', 1, CAST(N'2025-03-12T12:40:27.8610000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TalentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Talents] ON 

INSERT [dbo].[Talents] ([Id], [TalentName], [ParentCategory]) VALUES (1, N'אפיה', 0)
INSERT [dbo].[Talents] ([Id], [TalentName], [ParentCategory]) VALUES (2, N'נגינה', 0)
INSERT [dbo].[Talents] ([Id], [TalentName], [ParentCategory]) VALUES (3, N'כינור', 2)
SET IDENTITY_INSERT [dbo].[Talents] OFF
GO
INSERT [dbo].[TalentUser] ([UserId], [TalentId], [IsOffered]) VALUES (15, 4, 0)
INSERT [dbo].[TalentUser] ([UserId], [TalentId], [IsOffered]) VALUES (15, 1003, 1)
INSERT [dbo].[TalentUser] ([UserId], [TalentId], [IsOffered]) VALUES (15, 1004, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [HashPwd], [PhoneNumber], [Email], [UserName], [Score], [Age], [Gender], [Desc], [IsActive], [ProfileImage], [IsAdmin]) VALUES (0, N'123', N'123', N'123', N'defult', 0, 0, 0, N'defult', 0, N'123', 0)
INSERT [dbo].[Users] ([Id], [HashPwd], [PhoneNumber], [Email], [UserName], [Score], [Age], [Gender], [Desc], [IsActive], [ProfileImage], [IsAdmin]) VALUES (8, N'$2a$11$KeTNrXZewQoxJ0dtDKPXr.UuWiPAqcn4txqSKVCK4BD.9Xph9R6Fa', N'0254784578', N'ultracode@gmail.com', N'shlomit', 0, 48, 1, N'hi', 0, N'1.png', 0)
INSERT [dbo].[Users] ([Id], [HashPwd], [PhoneNumber], [Email], [UserName], [Score], [Age], [Gender], [Desc], [IsActive], [ProfileImage], [IsAdmin]) VALUES (14, N'$2a$11$nkJrNGfS62sDQCp9K7Obqe9pQ2BxX6TGB7C1BvYLXpMjOk9f4mD1q', N'0524789655', N'rc@gmail.com', N'רחלי כהן', 0, 20, 1, N'מה קורה??', 0, N'9.png', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Connections_UserId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Connections_UserId] ON [dbo].[Connections]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exchanges_Talent1Offered]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Exchanges_Talent1Offered] ON [dbo].[Exchanges]
(
	[Talent1Offered] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exchanges_Talent2Offered]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Exchanges_Talent2Offered] ON [dbo].[Exchanges]
(
	[Talent2Offered] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exchanges_User1Id]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Exchanges_User1Id] ON [dbo].[Exchanges]
(
	[User1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exchanges_User2Id]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Exchanges_User2Id] ON [dbo].[Exchanges]
(
	[User2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ExchangeId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ExchangeId] ON [dbo].[Messages]
(
	[ExchangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_FromId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_FromId] ON [dbo].[Messages]
(
	[FromId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TalentRequests_UserId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_TalentRequests_UserId] ON [dbo].[TalentRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Talents_TalentName]    Script Date: 26/03/2025 11:06:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Talents_TalentName] ON [dbo].[Talents]
(
	[TalentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TalentUser_TalentId]    Script Date: 26/03/2025 11:06:49 ******/
CREATE NONCLUSTERED INDEX [IX_TalentUser_TalentId] ON [dbo].[TalentUser]
(
	[TalentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 26/03/2025 11:06:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_HashPwd]    Script Date: 26/03/2025 11:06:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_HashPwd] ON [dbo].[Users]
(
	[HashPwd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_PhoneNumber]    Script Date: 26/03/2025 11:06:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_PhoneNumber] ON [dbo].[Users]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 26/03/2025 11:06:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exchanges] ADD  DEFAULT (CONVERT([bit],(0))) FOR [User1Confirmed]
GO
ALTER TABLE [dbo].[Exchanges] ADD  DEFAULT (CONVERT([bit],(0))) FOR [User2Confirmed]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK_Connections_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK_Connections_Users_UserId]
GO
ALTER TABLE [dbo].[Exchanges]  WITH CHECK ADD  CONSTRAINT [FK_Exchanges_Talents_Talent1Offered] FOREIGN KEY([Talent1Offered])
REFERENCES [dbo].[Talents] ([Id])
GO
ALTER TABLE [dbo].[Exchanges] CHECK CONSTRAINT [FK_Exchanges_Talents_Talent1Offered]
GO
ALTER TABLE [dbo].[Exchanges]  WITH CHECK ADD  CONSTRAINT [FK_Exchanges_Talents_Talent2Offered] FOREIGN KEY([Talent2Offered])
REFERENCES [dbo].[Talents] ([Id])
GO
ALTER TABLE [dbo].[Exchanges] CHECK CONSTRAINT [FK_Exchanges_Talents_Talent2Offered]
GO
ALTER TABLE [dbo].[Exchanges]  WITH CHECK ADD  CONSTRAINT [FK_Exchanges_Users_User1Id] FOREIGN KEY([User1Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exchanges] CHECK CONSTRAINT [FK_Exchanges_Users_User1Id]
GO
ALTER TABLE [dbo].[Exchanges]  WITH CHECK ADD  CONSTRAINT [FK_Exchanges_Users_User2Id] FOREIGN KEY([User2Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exchanges] CHECK CONSTRAINT [FK_Exchanges_Users_User2Id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Exchanges_ExchangeId] FOREIGN KEY([ExchangeId])
REFERENCES [dbo].[Exchanges] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Exchanges_ExchangeId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_FromId] FOREIGN KEY([FromId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_FromId]
GO
ALTER TABLE [dbo].[TalentRequests]  WITH CHECK ADD  CONSTRAINT [FK_TalentRequests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TalentRequests] CHECK CONSTRAINT [FK_TalentRequests_Users_UserId]
GO
ALTER TABLE [dbo].[TalentUser]  WITH CHECK ADD  CONSTRAINT [FK_TalentUser_Talents_TalentId] FOREIGN KEY([TalentId])
REFERENCES [dbo].[Talents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TalentUser] CHECK CONSTRAINT [FK_TalentUser_Talents_TalentId]
GO
ALTER TABLE [dbo].[TalentUser]  WITH CHECK ADD  CONSTRAINT [FK_TalentUser_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TalentUser] CHECK CONSTRAINT [FK_TalentUser_Users_UserId]
GO
USE [master]
GO
